---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon";
import { SOCIALS } from "@config";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={className}>
            <slot />
        </main>

        <SectionContainer class="mt-32">
            <footer class="py-40 bg-neutral-50">
                <div class="wrap-sm mx-auto px-8 grid gap-16">
                    <h2
                        class="font-medium text-4xl md:text-6xl lg:text-7xl leading-10 lg:leading-[70px] tracking-tight lg:tracking-tighter"
                    >
                        Let&apos;s make{" "}
                        <span
                            class="text-neutral-500 inline font-bold underline-offset-4"
                        >
                            visionary
                        </span>{" "}
                        projects 
                        together.
                    </h2>
                    <p class="text-neutral-500 font-medium text-3xl md:text-5xl lg:text-4xl leading-10 tracking-tight lg:tracking-tighter">
    If you want to know more feel free to <span style="color: black;">contact me.</span>
</p>

                    <div class="footer-credits text-neutral-500">
                        <a
                            class="block text-3xl md:text-5xl lg:text-4xl font-medium mb-2 md:mb-8 lg:mb-4 leading-10 tracking-tighter relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1"
                            href="mailto:ian@fiatluxlabs.co"
                        >
                            ian@fiatluxlabs.co
                        </a>
                        <div
                            class="footer-socials font-medium flex gap-6 md:gap-10 max-w-md text-xl md:text-3xl lg:text-2xl leading-10 tracking-tighter"
                        >
                            {
                                SOCIALS.filter((social) => social.active).map(
                                    (social) => (
                                        <a
                                            href={social.href}
                                            class="relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1 flex items-center"
                                            target="_blank"
                                            title={social.title}
                                        >
                                            <Icon
                                                name={social.icon}
                                                class="w-10 h-10 inline"
                                            />
                                        </a>
                                    )
                                )
                            }
                        </div>
                    </div>
                    <span
                        class="text-neutral-500 text-md flex flex-wrap gap-4 md:gap-0 md:justify-between"
                    >
                        <span>
                            Copyright © {currentYear} Fiat Lux Labs
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256">
                                <path d="M167.18,140.82,94.77,213.23a36.77,36.77,0,0,1-52,0h0a36.77,36.77,0,0,1,0-52l30-30c9.37-3.65,25.78-6.36,47.18,4.82S157.81,144.47,167.18,140.82Z" opacity="0.2"></path>
                                <path d="M237.66,86.34l-60-60a8,8,0,0,0-11.32,0L37.11,155.57a44.77,44.77,0,0,0,63.32,63.32L212.32,107l22.21-7.4a8,8,0,0,0,3.13-13.25ZM89.11,207.57a28.77,28.77,0,0,1-40.68-40.68l28.8-28.8c8.47-2.9,21.75-4,39.07,5,10.6,5.54,20.18,8,28.56,8.73ZM205.47,92.41a8,8,0,0,0-3.13,1.93l-39.57,39.57c-8.47,2.9-21.75,4-39.07-5-10.6-5.54-20.18-8-28.56-8.73L172,43.31,217.19,88.5Z"></path>
                    </svg>
                        </span>
                        <a class="" href="https://www.fiatluxlabs.co/">
                            Made by Fiat Lux Labs 
                        </a>
                    </span>
                </div>
            </footer>
        </SectionContainer>
    </body>
</html>
